<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>jQuery - ready</Title>
			<Author>pasqualeambrosio</Author>
			<Shortcut>jq</Shortcut>
		</Header>
		<Snippet>
			<Code Language="html">
				<![CDATA[
				$$(function () {
				
					$end$ 
					
				});
				]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>