<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>jQuery - min</Title>
			<Author>pasqualeambrosio</Author>
			<Shortcut>jqmin</Shortcut>
		</Header>
		<Snippet>
			<Code Language="html">
				<![CDATA[
				<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>$end$
				]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>