<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>JQuery src</Title>
			<Author>pasqualeambrosio</Author>
			<Description>Include script source</Description>
			<Shortcut>jssrc</Shortcut>
		</Header>
		<Snippet>
			<Code Language="html">
				<![CDATA[
				<script type="text/javascript" src="<%= ResolveClientUrl("~/Scripts/myscript.js") %>"></script>$end$				
				]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>