<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Get Set</Title>
			<Author>pasqualeambrosio</Author>
			<Description>Add tag {get; set;}</Description>
			<Shortcut>gs</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp">
				<![CDATA[{ get; set; }]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>